/*reset-all*/
  *{
    padding: 0;
    margin: 0;
  }

  section{
    display: block;
  }

/*clearfix*/
  .clearfix {
    clear: both;
    overflow: auto;
  }

  /* classes */
  .container{
    max-width: 1200px;
    padding: 0 5px 0 5px;
    margin: 0 auto;
  }

/* header */
  header{
    display: block;
    background-color: black;
    overflow: auto;
  }

    header  a{
      padding: 5px 25px 5px 5px;
      float: left;
    }

    /* nav */
      nav{
        float: left;
        height: 100%;
      }

        ul{
          list-style-type: none;
          height: inherit;
        }

          ul li{
            float: left;
            height: inherit;
            box-sizing: border-box;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
          }

            ul li a{
              text-decoration: none;
              color: white;
              line-height: 25px;
              font-weight: bold;
              font-size: 1.2;
              padding: 11.6px 20px;
              text-align: center;
              display: block;
            }

            ul li a:hover{
              background-color: lightblue;
            }

/* footer */
  footer{
    background-color: grey;
    width: 100%;
    padding: 20px 0;
    float:left;
  }

  #footer-container{
    border-top: 1px solid white;
    padding-top: 25px;
  }

    footer p{
      font-size: 0.7em;
      color: white;
    }

/* body */
  h1{
    padding: 30px 0;
    text-align: right;
    font-size: 2em;
    font-weight: normal;
    color: RGB(140, 140, 140);

  }

    h1 span{
      float: left;
      font-weight: bold;
      color: RGB(74, 74, 74);
    }

    /*news section  */
      #news-container h2{
        font-size: 2em;
        padding-bottom: 18px ;
      }

      #news-container section{
        font-size:  1em;
        float: left;
        width: 100%;
        padding-bottom: 25px;
      }

      /* Article css */
      .singleArticle{
        float: left;
        width: 32%;
        height: 290px;
        padding-right: 1.5%;
        padding-bottom: 30px;
        overflow-y: hidden;
      }

        .singleArticle h3{
          font-size: 1.25em;
          text-decoration: none;
        }

        .singleArticle a:link, .singleArticle a:visited, .singleArticle a:active{
          color: black;
          text-decoration: none;
        }

        .singleArticle a:hover{
          text-shadow: 0.25px 0.25px black;
        }

        .singleArticle img{
          padding-bottom: 8px;
          width: 100%;
          transition: 0.3s  linear;
        }

        .singleArticle:hover img{filter: brightness(110%) contrast(110%);}

        .singleArticle:nth-of-type(3n){
         padding-right: 0;
         clear:right;
        }


        #news h2::before{content: ""; border-left: 2.5px solid red; padding-left: 8px;}

        #sport h2::before{content: ""; border-left: 2.5px solid yellow; padding-left: 8px;}


/* clanak.php css */
  #news-section-header{
    float: left;
    width: 100%;
    box-sizing: border-box;
    background-color: RGB(255, 210, 48);
    padding: 8px 5px;
  }

  #clanak{
    padding: 18px 5px 40px 5px;
  }

    #clanak h2{
      padding-bottom: 18px;
    }

    #clanak img{
      padding-bottom: 18px;
      width: 100%;
    }

    #clanak h3{
      padding-bottom: 10px;
      font-size: 1.025em;
    }


  /* administrator.php */
    .form-item{padding: 8px 0;text-align: center;}
      .form-item img{width:40%; border: 2px solid black; border-radius: 25px;}
      .form-item button{padding: 5px;}
    .form-field-textual{width:25%; transition: width 0.8s;  outline: 0; border: 2px solid black; border-radius: 25px; padding: 10px;}
      .form-field-textual:focus, .form-field-textual:hover {width:30%;  border: 2px solid #bef441; }
    .formfield-textual{width: 80%; outline: 0;  border: 2px solid black; border-radius: 25px; padding: 10px; overflow-y: hidden;}
      .formfield-textual:focus{border: 2px solid #bef441;}
    .admin-tab-form{padding: 15px}

    /* registracija.php */
    [role="register"]{
      padding-bottom: 4.5em;
    }

    [role="login"]{
      padding-top: 4.5em;
      padding-bottom: 8em;
    }

    #uspijesnaRegistracija{
      text-align: center;
      padding-bottom: 25px;
    }

    #registracijaHref{
      padding-top: 25px;
      text-align: center;
    }

    #nedovoljnaRazina img{
      width: 40%;
      padding: 50px 30%;
    }


    @media (max-width: 645px){
      header .container{padding: 0 0;}
      header a{ width: 100%; padding: 12px 5px; box-sizing: border-box;}
      header a img{width: 30%; padding: 0 35%;}

      nav{width: 100%; box-sizing: border-box;}

       ul li{
          width: 100%;
          text-align: center;
          border: 0px solid black;
          box-sizing: border-box;
        }

          ul li a{
            width: 100%;
            box-sizing: border-box;
          }

      .singleArticle{
        width: 80%;
        padding: 40px 10%;
      }

      .singleArticle:nth-of-type(3n){
       padding-right: 10%%;
       clear: none;
      }

    }
